<footer class="bg-light pt-xl-4 ">
    <div class="container ">
       <div class="row pb-sm-5">
           <div class="col-lg-4 col-md-6 col-sm-12 flexer">
             <h1 class="font-weight-bold" style="color: #323edd;">{{tittle}}</h1>
             <p>Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content. It's also called placeholder (or filler) text. It's a convenient tool for mock-ups.
               </p>
           </div>
           <div class="col-lg-2 col-md-6 col-sm-12 flexer mt-2 ">
             <h4>UseFul Links</h4>
             <ul class="list-unstyled mt-3">
                 <li class="pb-2">About us</li>
                 <li class="pb-2">FAQ</li>
                 <li class="pb-2">Check out</li>
             </ul>
           </div>
           <div class="col-lg-2 col-md-6 col-sm-12 flexer mt-2">
               <h4 >My Account</h4>
               <ul class="list-unstyled mt-3">
                <li class="pb-2">My Account</li>
                <li class="pb-2">My Orders</li>
                <li class="pb-2">Shopping Cart</li>
            </ul>
           </div>
           <div class="col-lg-4 col-md-6 col-sm-12 flexer mt-2">
               <h4 >Contact Us</h4>
               <ul class="list-unstyled mt-3">
                   <li class="pb-2"> <i class="fa fa-map-marker fa-fw"></i> University Of Karachi , PK</li>
                   <li class="pb-2"> <i class="fa fa-phone fa-fw"></i> 090078601</li>
                   <li class="pb-2"> <i class="fa fa-envelope fa-fw"></i> contact@gmail.com</li>
               </ul>
               
             </div>
         </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 flexer">
                <p class="text-dark">Copyright © 2020  All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 flexer">
                <ul class="list-inline ml-xl-5 ">
                    <span class="h3 mr-3">Follow Us:</span>
                    <li class="list-inline-item mr-3"> <i class="fa fa-facebook-f fa-2x"></i> </li>
                    <li class="list-inline-item mr-3"> <i class="fa fa-instagram fa-2x"></i> </li>
                    <li class="list-inline-item mr-3"> <i class="fa fa-twitter fa-2x"></i> </li>
                    <li class="list-inline-item mr-3"> <i class="fa fa-youtube-play fa-2x"></i> </li>
                    <li class="list-inline-item mr-3"> <i class="fa fa-envelope fa-2x"></i> </li>
                </ul>
            </div>
        </div>
    </div>
   </footer>