.sidemenu{
    background-color: #323edd;
    border-radius: 8px;
    position: relative;
    top: -17px;
    
}
.mainmenu{
    
    position: relative;
    top: -17px;
    text-align: center;
}
.mainmenu a{
    color: black;
    font-weight: bold;
    
}
.mainmenu a:hover {
    color:#323edd;
  }
.btn{
    color: white;
    text-transform: uppercase;
    padding-right: 90px;
    
}
.dropdown-menu{
    width: 100%;
}