<div class=" container mainpanel ">
    <div class="container p-3">
        <div class="row mb-4">
            <div class="col">
                <div class="pagetitle ">Edit Category</div>
            </div>
        </div>
        <div class="box">
            <div class="row">
                <div class="col-md-12">
                    <div class="card text-center">
                        <div class="card-header">
                            <ul class="nav nav-pills card-header-pills">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Category</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <form (ngSubmit)="onUpdateCategory(categoryForm.value)" #categoryForm="ngForm"> 
                                <div class="form-group row">
                                    <label for="colFormLabel" class="col-md-2 col-form-label">Category Name</label>
                                    <div class="col-md-4 ">
                                        <input type="text"  class="form-control"placeholder="Enter Category Name"
                                        [(ngModel)]="category.name" name="name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabel" class="col-md-2 col-form-label">Image Url</label>
                                    <div class="col-md-4 ">
                                        <input type="text"  class="form-control"  placeholder="Enter Image Url"
                                        [(ngModel)]="category.image" name="image">
                                    </div>
                                </div>
                                
                                <button  type="submit" class="btn btn-primary" >Update</button>
                                <div class="alert alert-primary w-50  m-2" role="alert" >
                                    {{message}}
                                  </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>