<header class="mb-0">
    <div class="container">
        <div class="row pt-3 ">
            <div class="col-lg-3 col-md-5 col-sm-6 col-xs-12 mt-2">
                <div class="logo">
                    <h1 class="font-weight-bold" [routerLink]="['/']" >{{tittle}}</h1>
                </div>
            </div>
            <div class="col-lg-7 col-md-4 col-sm-4 col-xs-12 mt-2">
                <div class="input-group ">
                    <input class="form-control p-3 shadow-none" type="search" placeholder="Search">
                    <div class="input-group-append">
                        <button class="search-button " type="submit">
                            <i id="search-icon"class="fa fa-search fa-1x"></i>
                        </button>
                    </div>
                </div>
            </div>   
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                <div class="btn-group ">
                <button class="btn mr-2 shadow-none" [routerLink]="['/myaccount']"  ><i class="fa fa-user-circle fa-2x "></i>
                </button>
                <button class="btn mr-2 shadow-none" [routerLink]="['/']"  ><i class="fa fa-shopping-cart fa-2x "></i>
                </button>
            </div>
            </div> 
        </div>
        
    </div>
    </header>
    <hr>
    