
<div class="panel pt-lg-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a href="" class="card card-org " [routerLink]="['/admin/categories']">
                    <div class="card-body ">
                        <i class=" fa fa-sitemap fa-3x"></i>
                        <div class="content ">
                            <div class="title"  >Categories</div>
                            <div class="value">7</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="" class="card card-pink" [routerLink]="['/admin/sub-categories']">
                    <div class="card-body"> <i class=" fa fa-sitemap fa-3x"></i>
                        <div class="content ">
                            <div class="title" >Sub-Categories</div>
                            <div class="value">7</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="" class="card card-purple" [routerLink]="['/admin/products']">
                    <div class="card-body"> <i class=" fa fa-product-hunt fa-3x"></i>
                        <div class="content">
                            <div class="title" >Product</div>
                            <div class="value">7</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a href="" class="card card-green" [routerLink]="['/admin/users']">
                    <div class="card-body"> <i class=" fa fa-users fa-3x"></i>
                        <div class="content">
                            <div class="title" >Users</div>
                            <div class="value">7</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="" class="card card-green" [routerLink]="['/admin/vendors']">
                    <div class="card-body"> <i class=" fa fa-users fa-3x"></i>
                        <div class="content">
                            <div class="title" >Vendors</div>
                            <div class="value">7</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="" class="card card-blue" [routerLink]="['/admin/orders']">
                    <div class="card-body"> <i class=" fa fa-cart-arrow-down fa-3x"></i>
                        <div class="content">
                            <div class="title" >Orders</div>
                            <div class="value">7</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
